--extra-index-url https://pypi.ngc.nvidia.com
timm
diffusers
peft
protobuf
transformers
peft
accelerate
loguru
einops
sentencepiece
cuda-python
onnxruntime
onnx
nvidia-pyindex
onnx-graphsurgeon
polygraphy
pandas
gradio
pyarrow
deepspeed
git+https://github.com/Dao-AILab/flash-attention.git@v2.1.2.post3
huggingface_hub[cli]
